
body {
  margin: 0;
}

#testbed {
  font: 20px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
  height: 70px;
}

#testbed-sticky {
  background: #38A2A9;
  height: 30px;
  position: fixed;
  top: 0; right: 0; left: 0;
  padding: 20px;
}

.testbed-failed#testbed-sticky {
  background: #eb6053;
}

.testbed-success#testbed-sticky {
  background: #43BA54;
}

#testbed a {
  color: white;
}
